<div class="top-header">
  <a class="logo-link" href="<%= root_path %>">
    Discourse Integration App
  </a>
  <span class='separator'>|</span>
  <a href="<%= DISCOURSE_URL =%>">
    Forum
  </a>
</div>
