<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= t(:app_name) %></a>
    </div>

    <div>
      <ul class="nav navbar-nav">
        <li><%= forum_link %></li>
      </ul>
    </div>
  </div>
</nav>
